<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Competição de eSports</title>
    <link rel="stylesheet" href="static/eSports.css">
</head>
<body>
    <div>
        <h1>{{ titulo }}</h1>
    </div>

    {%  for esports in listajogadores %}
    <div class="eSports">
        <h2>nome: {{ esports.nome }}</h2>
        <img src="/static/game.png">
        <p>jogo: {{ esports.jogo }}</p>
        <p>funcao: {{ esports.funcao }}</p>
        <p>ranking: {{ esports.ranking }}</p>
        <br>
        <a href="excluir/{{ esports.nome }}">Exluir</a>
        <a href="editar/{{ esports.nome }}">Editar</a>
    </div>
    {%  endfor %}

</body>
</html>