<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="./static/icontopo.png">
    <title>Clínica Alegrar</title>
</head>
  <main>
    <div id="equipe" class="row equipe">
        <h2>Equipe dentária</h2>
        <div class="col-md-4">
            <img src="/static/dr1.jpg" alt="">
            <h6>Dr.Paulo<br>Cirurgião-dentista</h6>
        </div>
        <div class="col-md-4">
            <img src="/static/dr2.jpg" alt="">
            <h6>Dra.Lívia<br>Prostodontista</h6>
        </div>
        <div class="col-md-4">
            <img src="/static/dr3.jpg" alt="">
            <h6>Dra.Mirela<br>Técnica de saúde bucal</h6>
        </div>
        <div>
            <button type="button" class="btn btn-outline-info" id="btn">Agende sua consulta<i
                    class="fa-solid fa-chevron-down"></i></button>
        </div>
    </div>
  </main>
</html>