<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="./static/icontopo.png">
    <title>Clínica Alegrar</title>
</head>
  <header>
    <main class="container-fluid">
      <div id="servicos" class="row titulo">
        <h2>Serviços odontológicos</h2>
        <div class="col-md-3 icones">
          <img src="/static/icone1.png" alt="">
          <h5>Consulta preventiva</h5>
          <p>Agende uma consulta com seu dentista regularmente para verificar sua saúde bucal.</p>
        </div>
        <div class="col-md-3 icones">
          <img src="/static/icone2.png" alt="">
          <h5>Limpeza dental</h5>
          <p>Remova a placa bacteriana e o tártaro para prevenir cárie e gengivite.</p></div>
        <div class="col-md-3 icones">
          <img src="/static/icone3.png" alt="">
          <h5>Tratamento de canal</h5>
          <p>Remova a polpa danificada de um dente para aliviar a dor e prevenir a infecção.</p>
        </div>
        <div class="col-md-3 icones">
          <img src="/static/icone4.png" alt="">
          <h5>Tratamento estético</h5>
          <p>Melhore a aparência do seu sorriso com clareamento, facetas ou lentes de contato.</p>
        </div>
      </div>
    </main>
  </header>